form {
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #000;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  input,
  button {
    padding: 0.75rem 1rem;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-size: 1rem;
    transition: all 0.2s ease;
  }
  
  input::placeholder {
    color: #555;
  }
  
  input:focus {
    outline: none;
    border-color: #333;
    background: #f9f9f9;
  }
  
  button {
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
  