.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}

h3, p {
    text-align: center;
}

img {
    display: block;
    margin: auto; 
}